footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer p {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logout {
}

.microphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.microphone-icon {
  width: 80px;
  height: 80px;
}

.microphone-icon:active {
  animation: mic--effect infinite 1s linear;
}

@keyframes mic--effect {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
